* {
    font-family: 'Brush Script MT', Arial, Helvetica, sans-serif;

    --backgroundColor: #e8e3d980;
    --backgroundColorLighter: #fcfbfa0c;

  }


  /* Top menu buttons */

  .topMenuDiv{
    position: sticky;
    top: 0px;
    z-index: 2;

    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: center;
    background-color: #e8e3d9;
  }

  .topMenuDiv button{

  }

  .mainContent{
    padding-top: 140px;
  }

  /* Header  */
  header {
    background-color: var(--backgroundColor) ;
    height: 300px;
    padding: 10px 30px 0 30px;
    text-align: center;

  }

  header h1{
    font-size: 40px;
 
  }

  header img {
    width: 300px;
    position: relative;
    border-radius: 50%;
  
  }


/* Bio section */

  .bioSectionDiv{
    width: 70%;
    margin: auto;


    /* background-color: #e8e3d980; */

  }
/* 
  .bioSectionDiv h2{
    text-align: center;
  } */

  @media only screen and (max-width: 850px){ /* Bio section for small screens */
    .bioSectionDiv{
      width: 90%;
  
    }
}

@media only screen and (min-width: 2000px){ /* Bio section for small screens */
  .bioSectionDiv{
    width: 1550px;

  }
}

/* section Divs which hold all the content cards */

  .sectionDiv{
    width: 80%;
    max-width: 1500px;
    margin: auto;


  }
  
  .sectionDiv h2{
    text-align: center;

  }

  /* Content cards live inside section Divs */

  .flexBoxContainer{                                      
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

  }

  .contentCard{
    width: 45%;
    min-width: 400px;


  }

  .contentCard h3{
    text-align: center;
  }

  
  .contentCard img{
    width: 100%;
    
  }

  .contentCard p{
    margin: 20px;
       
  }

  .contentCard .pictureLabel{
    text-align: center;
    font-size: small;
    position: relative;
    top: -15px;
    color: rgba(0, 0, 0, 0.493);
  }

  /* Top Buttons */

  button {
    background-color: white;
    padding: 5px 8px 5px 8px;
    border-radius: 10%;
    border: 2px solid var(--backgroundColor);
  }

  button:hover{
    background-color: var(--backgroundColorLighter);
  }

  button a{
    text-decoration: none;
  }


  
  /* Decorative lines */

  .sectionLineDivider{
    /* border-top: solid 1px #ed8f42; */
    border-top: solid 1px var(--backgroundColor) ;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .lineDividerSmall{
    border-top: solid 1px var(--backgroundColor) ;
    width: 300px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  /* Footer  */

  footer{
    background-color: var(--backgroundColor) ;
    text-align: center;
    height: 80px;
  }

  .footerFlexContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    
  }

  th, td{
    width: 190px;

  }