* {
    font-family: 'Brush Script MT', Arial, Helvetica, sans-serif;
    Color:black;

    --backgroundColor: #e8e3d980;

    --buttonBackgroundColor1:  #e4eef7;
    --buttonBackgroundColor2: #e8e3d9;
    
    --labelBackgroundColor: #f8f6f1c0;
  }

  /* Top menu buttons */

  .topMenuDiv{
    position: sticky;
    top: 0px;
    z-index: 2;
    width: 700px;
    margin: auto;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;

    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: center;

    
  }

  button {

    border-style: none;
    background-color: var(--buttonBackgroundColor1);
    height: 40px;
    
  }

  button:hover{
    background-color: var(--buttonBackgroundColor2);
   
  }

  button a{
    text-decoration: none;
    font-weight:400;
    position: relative;
    top: -6px;
  }

  button h4{
    color: rgba(0, 0, 0, 0.651);
  }

  .buttonDividerLines{
    border-left: 3px solid var(--buttonBackgroundColor2);
    position: relative;
    top: 10px;
    height: 30px;
    /* width: 10px; */
  }

  /* Main content Div */

  .mainContent{
    padding-top: 140px;

    background-image: url("images/backgrounds/5.png");
    background-size: cover;

  }

  /* Header  */

  header {

    background-image: url("images/backgrounds/2.png");
    background-size: cover;
    background-attachment:fixed;

    height: 300px;
    padding: 10px 30px 0 30px;
    text-align: center;

  }

  header h1{
    font-size: 40px;
 
  }

  header img {
    width: 300px;
    position: relative;
    border-radius: 50%;
  
  }

  header p{
    position: relative;
    top: -10px;
  }


/* Bio section */

  .bioSectionDiv{
    width: 70%;
    margin: auto;

  }


  @media only screen and (max-width: 850px){ /* Bio section for small screens */
    .bioSectionDiv{
      width: 90%;
  
    }
}

@media only screen and (min-width: 2000px){ /* Bio section for small screens */
  .bioSectionDiv{
    width: 1550px;

  }
}

/* section Divs which hold all the content cards */

  .sectionDiv{
    width: 80%;
    max-width: 1500px;
    min-width: 450px;
    margin: auto;




  }
  
  .sectionDiv h2{
    text-align: center;

  }

  /* Content cards live inside section Divs */

  .flexBoxContainer{                                      
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

  }

  .contentCard{
    width: 45%;
    min-width: 400px;

  }

  .contentCard h3{
    text-align: center;

  }
  
  .contentCard h3 span{
    text-align: center;
    background-color: var(--labelBackgroundColor);
    padding: 5px 20px 5px 20px;
  }
  
  .contentCard img{
    width: 100%;
    
  }

  .contentCard p{
    margin: 20px;
       
  }

  .contentCard .pictureLabel{
    text-align: center;
    font-size: small;
    position: relative;
    top: -15px;
    color: rgba(0, 0, 0, 0.493);

    background-color: var(--labelBackgroundColor);
  }

  
  /* Decorative lines */

  .sectionLineDivider{
    border-top: solid 1px var(--backgroundColor) ;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .lineDividerSmall{
    border-top: solid 1px var(--backgroundColor) ;
    width: 300px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  /* Footer  */

  footer{
    background-color: var(--backgroundColor) ;
    text-align: center;
    height: 90px;
  }

  footer h3{
    position: relative;
    top: 8px;
  }

  .footerFlexContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    
  }

  th, td{
    width: 190px;

  }

  td a:hover{
    background-color: white;
  }